body {
  background: #020617;
  font-family: Arial, sans-serif;
  color: #e5e7eb;
  margin: 0;
}

.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 30px;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
